<% layout('layouts/boilerplate')%>
<div  style="background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQwDGuVV0-9ubys3ghJyiNef9_Ak00554FqPAuOEgEC7vQf6GB_);  background-repeat: no-repeat;
background-size: cover;">
    <div class="form-container" style="background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    margin-top: 50px;">
<div class="row" >
    <h1 class="text-center">New Place</h1>
    <div class="col-6 offset-3">
        <form action="/campgrounds" method="POST" novalidate class="validated-form">
            <div class="mb-3">
                <label class="form-label" for="title">What's the name of the new place?</label>
                <input class="form-control" type="text" id="title" name="campground[title]" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
            <div class="mb-3">
                <label class="form-label" for="location">Where is the place located?</label>
                <input class="form-control" type="text" id="location" name="campground[location]" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
            <div class="mb-3">
                <label class="form-label" for="image">Do you have an image of the place?If so, please provide the URL.</label>
                <input class="form-control" type="text" id="image" name="campground[image]" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
            <div class="mb-3">
                <label class="form-label" for="price">What is the price of the place?</label>
                <div class="input-group">
                    <span class="input-group-text" id="price-label">$</span>
                    <input type="text" class="form-control" id="price" placeholder="0.00" aria-label="price"
                        aria-describedby="price-label" name="campground[price]" required>
                </div>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>

            <div class="mb-3">
                <label class="form-label" for="Category">What type of place is it?</label>
                <select class="form-select" id="Category" name="campground[Category]" required>
                    <option value="Restaurant">Hotels</option>
                    <option value="Museum">Museum</option>
                    <option value="Park">Park</option>
                    <option value="Others">Others</option>
                    
                </select>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>


            <div class="mb-3">
                <label class="form-label" for="description">Can you provide a brief description of the place? </label>
                <textarea class="form-control" type="text" id="description" name="campground[description]"
                    required></textarea>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
            <div class="mb-3">
                <button class="btn btn-success">Add Place</button>
            </div>
        </form>
        <a href="/campgrounds">All Places</a>
    </div>
</div>
</div>
</div>
<script type="text/javascript">window.$crisp=[];window.CRISP_WEBSITE_ID="91992bc8-5f66-46d5-a300-fb0689813fcb";(function(){d=document;s=d.createElement("script");s.src="https://client.crisp.chat/l.js";s.async=1;d.getElementsByTagName("head")[0].appendChild(s);})();</script>